@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
.pis {
    position: relative;
    font-family: 'Anonymous Pro', monospace;
    border: 1px solid lightgrey;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    max-width: 400px;
}
.pis input,
.pis .shadow {
    padding: 0;
    border: none;
}
.pis input {
    min-width: 3px;
    width: 0px;
    outline: none;
    box-shadow: none;
    font-family: 'Anonymous Pro', monospace;
    font-size: 14px;
    line-height: 1.6;
    margin: 4px 0 4px 2px;
}
.pis .shadow {
    position: absolute;
    bottom: 100%;
    z-index: -1;
    opacity: 0;
}

.pis a {
    text-decoration: none;
}

.pis > * {
    float: left;
}

.pis::after {
    content: "";
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.pis .brick {
    background: #333;
    margin: 4px 4px 4px 0;
    padding: 2px 6px;
    color: #eee;
}

.pis .brick a {
    box-shadow: 0 0 4px #DB1F48;
    margin-left: 2px;
    padding: 0 2px;
}
.pis .brick a,
.pis .brick a:active,
.pis .brick a:focus {
    color: #ddd;
}
