.jdok .jbar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #00000045;
    margin: 0;
    padding: 0 20px 15px 20px;
}
.jdok .jbar:before {
    content: "";
    position: absolute;
    left: -60px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid #00000045;
    border-bottom: 20px solid #00000045;
}
.jdok .jbar:after {
    content: "";
    position: absolute;
    right: -60px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid #00000045;
    border-bottom: 20px solid #00000045;
}

.jdok .jbar a {
    position: relative;
    height: 20px;
    width: 50px;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
    transition: all ease 0.2s;
    box-shadow: none !important;
}
.jdok .jbar a:hover {
    width: 80px;
    opacity: 0.9;
}
.jdok .jbar a:hover img {
    width: 80px;
    bottom: 10px;
}
.jdok .jbar img {
    width: 50px;
    position: absolute;
    bottom: 0;
    transition: all ease 0.2s;
}
.jdok .jtray {
    position: absolute;
    z-index: 101;
    bottom: 75px;
    left: 10px;
}
.jdok .jtray p {
    margin: 0 0 10px 0;
    background: lightgrey;
    padding: 10px 16px;
}
