@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.trigger {
    position: relative;
    cursor: pointer;
}
.trigger:before {
    content: "";
    display: inline-block;
    padding: 10px 12px;
    margin: 0;
    border: 0;
}

@-webkit-keyframes rolling {
    to {-webkit-transform: rotate(360deg); }
}

@keyframes rolling {
    to {transform: rotate(360deg); }
}

.trigger:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 6px;
    border-radius: 50%;
    padding: 6px;
    margin: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid red;
    border-right: 2px solid red;
    -webkit-animation: rolling 0.5s linear 0s infinite;
    animation: rolling 0.5s linear 0s infinite;
}

.alert {
    position: fixed;
    top: 20px;
    right: 2px;
    padding: 10px 12px;
    border-radius: 12px;
    background-color: #e17d60;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 12px 0 rgba(0,0,0,0.19);
    color: white;
}

.alert > span {
    display: inline-block;
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    margin: 0 2px;
}

.dot.success {
    background-color: #85dcba;
}

.dot.failure {
    background-color: #e17d60;
}

.dot.noop {
    background-color: transparent;
    border: 1px solid grey;
}

.dot.calm {
    position: relative;
    -webkit-animation: rolling 0.5s linear 0s infinite;
    animation: rolling 0.5s linear 0s infinite;
}

.dot.calm:before {
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 50%;
}

.configurator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.front {
    width: 600px;
    height: 200px;
    background-color: white;
    padding: 10px 20px;
    position: absolute;
    top: calc(50% - 105px);
    left: calc(50% - 310px);
}

.list, .ctrl {
    display: block;
    float: left;
    width: 50%;
    /*
    width: calc(50% - 2px);
    border: 1px solid red;
    */
}

.front input {
    display: block;
    width: calc(100% - 34px);
    border: 1px solid lightgrey;
    padding: 8px 16px;
    margin-bottom: 8px;
}

.front button {
    display: block;
    width: 100%;
    padding: 6px 12px;
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
}

.front button:hover {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18), 0 4px 12px rgba(0, 0, 0, 0.2);
}

.front button.primitive {
    padding: 18px 20px;
    font-size: 20px;
    margin-bottom: 8px;
    background-color: lightgreen;
}

.isubtask span {
    color: red;
    cursor: pointer;
    padding: 0 4px;
}

