.lwd-dock {
    width: 100%;
    background: #19171c;
    color: #8b8792;
    padding: 2px 4px;
    margin-top: 12px;
    box-sizing: border-box;
    position: relative;
}

.lwd-dock .line {
    margin: 8px 4px;
    position: relative;
}

.lwd-dock textarea,
.lwd-dock input {
    background: #19171c;
    border: 1px solid #8b8792;
    padding: 4px 8px;
    display: block;
    color: #8b8792;
    width: 100%;
    box-sizing: border-box;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
}

.lwd-dock .ear {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    left: 25px;
    top: -8px;
    transform: rotate(45deg);
    background: #19171c;
}

.lwd-dock .dive {
    position: absolute;
    background: #8b8792;
    color: #19171c;
    display: inline-block;
    padding: 2px 8px;
    box-sizing: border-box;
    right: 0px;
    bottom: 1px;
}

.lwd-dock button {
    display: block;
    border: 0;
    margin: 16px 0 0 0;
    padding: 4px 8px;
    background: #8b8792;
    color: #19171c;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer
}

.lwd-dock button.green {
    background: #2a9292;
}
.lwd-dock button.red {
    background: #be4678;
}
